body{
  background-color: darkslategray;
  text-align: center;
  margin: 0px;
  padding: 50px;
  color: antiquewhite;
}
.outer{
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: start;
  border-radius: 50px;
  overflow: hidden;
  height: 30px;
  margin-bottom: 30px;
}
.inner{
  background-color: red;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
  width: 100%;
  justify-content: end;
  transition: 2s ease-in-out;
  padding-right: 10px;
}